################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SearchEngineKeyWordCounter/bin
/SearchEngineKeyWordUnitTests/bin/Debug/netcoreapp2.1
/SearchEngineKeyWordUnitTests/obj
